<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recursion Escape - Northwestern Technology</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
    </head>
<body>
    <div class="header-block">
        <div class="header-container">
            <div class="header-container-left">
                <div class="team-name">Northwestern Technology</div>
            </div>
            <div class="header-container-right">
                <nav>
                    <a class="current" href="/">Home</a>
                    <a class="current" href="/about">About Us</a>
                 </nav>
            </div>
    </div>