<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recursion Escape - Northwestern Technology</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
    </head>
<body>
    <div class="index-header-block">
        <div class="header-container">
            <div class="header-container-left">
                <div class="team-name">Northwestern Technology</div>
                <div class="page-title">Recursion Escape</div>
                <div class="page-title-sub">When bits byte...</div>
                <p class="page-text">
                    The Recursion Escape allows users to be able to select a certain type of programming language which 
                    will become the language that the user would have to focus on for the game. The game is going to be 
                    based around the concept of an escape room where users will solve various puzzles to gain access to 
                    the next room. During the course of the game, the problems that the users will need to solve will 
                    become progressively harder and harder; this feature would be a way of challenging experienced and 
                    inexperienced programmers.
                </p>
            </div>
            <div class="header-container-right">
                <nav id="header-nav">
                    <a class="current" href="/">Home</a>
                 </nav>
                <div class="game-select-container">
                    <div class="game-select">
                        <h3 id="game-select-title">Get ready to play!</h3>
                        <p id="game-select-title-subtext">This text is a placeholder for something more witty and profound than I can think of right now.</p>
                        <form action="/game-stage">
                            <div class="form-group">
                                <label id="formLabel" for="formGroupInput">User name</label>
                                <input type="text" name="user-name" class="form-control" id="formGroupInput" placeholder="">
                                <label id="formLabel" for="formGroupInput">Select language</label>
                                <select class="custom-select" name="language">
                                    <option></option>
                                    <option value="Java">Java</option>
                                    <option value="JavaScript">JavaScript</option>
                                    <option value="Python">Python</option>
                                </select>
                                <button type="submit" id="submit-btn-game" class="btn btn-primary">Start the game</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>