<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recursion Escape - Northwestern Technology</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
              crossorigin="anonymous">
    </head>
<body>
    <div class="index-header-block">
        <div class="header-container">
            <div class="header-container-left">
                <div class="team-name">Northwestern Technology</div>
                <div class="page-title">Recursion Escape</div>
                <div class="page-title-sub">When bits byte...</div>
                <p class="page-text">
                    The Recursion Escape allows the user the ability to select a particular type of programming language 
                    which becomes the language that the user focuses on for the duration of the game. Recursion Escape is 
                    based around the concept of an escape room where users solve multiple puzzles to gain access to the next 
                    room. During the course of the game, the problems that the users need to solve become progressively harder 
                    and harder; this feature provides a challenging experience for both experienced and inexperienced programmers.
                </p>
                <div class="lang-logo">
                    <img src="/img/java-logo.png" alt="Java logo">
                    <img src="/img/python-logo.png" alt="Python logo">
                    <img src="/img/javascript-logo.png" alt="Javascript logo">
                    <img src="/img/cplusplus-logo.png" alt="C++ logo">
                    <img src="/img/swift-logo.png" alt="Swift logo">
                    <img src="/img/ruby-logo.png" alt="Ruby logo">
                    <img src="/img/go-logo.png" alt="Go logo">
                </div>    
            </div>
            <div class="header-container-right">
                <nav id="header-nav">
                    <a class="current" href="/">Home</a>
                 </nav>
                <div class="game-select-container">
                    <div class="game-select">
                        <h3 id="game-select-title">Get ready to play!</h3>
                        <p id="game-select-title-subtext">Now before you begin there are a couple of game controls we are going to have to cover. 
                            To begin with, to move through the game you can use either of the following keyboard combinations.</p>
                        <img src="/img/game_control.png" alt="Game controller image"><br>
                        <p id="game-select-title-subtext">Second, to pan your view around the screen left click on the middle of the 
                            game screen. Your view will then pan in the direction that you move your mouse. To unlock your mouse from the screen you 
                            only need to hit the escape key.</p>
                            <p id="game-select-title-subtext">Last, but not least, left-click to select an object.<br><br>That is it! You 
                                are good to go now … good luck!<br><br></p>
                        <form action="/game-stage">
                            <div class="form-group">
                                <button type="submit" id="submit-btn-game" class="btn btn-primary">Start the game</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>