<%- include('partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module" src="js/game.js"></script>

<!------------------Question 1 Block --------------------------->
<div class="questionWrapper">
    <div id="questionBox1" class="question-container" >
        <form id="question1" class="question" method = "post" >
            <div class="container-question-left">
                <h3 class="object-action-title">Object Action</h3>
                <p>You peer into the cardboard box and find that it holds the first object that you will need to escape the room.
                    <br><br>To remove the object from the box you’ll need to write a function called <span class="blueText">addNumbers</span> that accepts 
                    two parameters and returns their sum.</p>
            </div>
            <div class="container-question-center">
                <button class="btn btn-primary" id="submitCode1" type="button" onClick="">Submit your code</button><br>
                <button class="btn btn-primary" id="exitTest1" type="reset">Return to the room</button>
            </div>
            <div class="container-question-right">
                <textarea class="enterCode" id="enteredCode1" name="enteredCode1" rows="10" cols="60">
function addNumbers(a, b) {
    return 0; //Fix this!
}</textarea>
            </div>
        </form>
        <div id="results1"></div> 
    </div>
</div>

<!------------------Question 2 Block ---------------------------> 
<div class="questionWrapper">
    <div id="questionBox2" class="question-container" >
        <form id="question2" class="question" method = "post" >
            <div class="container-question-left">
                <h3 class="object-action-title">Object Action</h3>
                <p>The key slides effortlessly into the door lock of the vehicle. This look likes it is going to work. You hold your breath, turn the key and ...
                    <br><br>To unlock the door and find the next clue you will need to escape the room, you need to write a <span class="blueText">for loop</span> that 
                    iterates the variable ‘count’ from <span class="blueText">1</span> to <span class="blueText">100</span>.</p>
            </div>
            <div class="container-question-center">
                <button class="btn btn-primary" id="submitCode2" type="button" onClick="">Submit your code</button><br>
                <button class="btn btn-primary" id="exitTest2" type="reset">Return to the room</button>
            </div>
            <div class="container-question-right">
                <textarea class="enterCode" id="enteredCode2" name="enteredCode2" rows="10" cols="60"></textarea>
            </div>
        </form>
        <div id="results2"></div> 
    </div>
</div>

<!------------------Question 3 Block --------------------------->    
<div class="questionWrapper">
    <div id="questionBox3" class="question-container" >
        <form id="question3" class="question" method = "post" >
            <div class="container-question-left">
                <h3 class="object-action-title">Object Action</h3>
                <p>You place the end of the crowbar in the gap between the lid and the crate. As you start applying 
                    pressure to the crowbar you see the number 50 stenciled on the surface of the crowbar. Finally 
                    you feel the lid start to give.<br><br>To keep adding pressure to the crowbar and removing the lid from 
                    the crate you will need to create a <span class="blueText">conditional if statement</span> that returns 
                    <span class="blueText">true</span> if the value is greater than or equal to <span class="blueText">50</span>, 
                    if not the statement will return <span class="blueText">false</span> and you will not be able to remove the lid 
                    from the crate.</p>
            </div>
            <div class="container-question-center">
                <button class="btn btn-primary" id="submitCode3" type="button" onClick="">Submit your code</button><br>
                <button class="btn btn-primary" id="exitTest3" type="reset">Return to the room</button>
            </div>
            <div class="container-question-right">
                <textarea class="enterCode" id="enteredCode3" name="enteredCode3" rows="10" cols="60"></textarea>
            </div>
        </form>
        <div id="results3"></div> 
    </div>
</div>

<!------------------Question 4 Block --------------------------->    
<div class="questionWrapper">
    <div id="questionBox4" class="question-container" >
        <form id="question4" class="question" method = "post" >
            <div class="container-question-left">
                <h3 class="object-action-title">Object Action</h3>
                <p>You pull the piece of metal from your pocket and kneel down in front of the safe. Punching the number 
                    combination from the piece of metal, you hold your breath, hoping that this is going to work. You hit 
                    the ‘Enter’ button and …<br><br>To open the safe create an array named <span class="blueText">array</span> 
                    and fill it with the values <span class="blueText">6</span>, <span class="blueText">13</span>, <span class="blueText">20</span>, 
                    <span class="blueText">20</span> in that order.</p>
            </div>
            <div class="container-question-center">
                <button class="btn btn-primary" id="submitCode4" type="button" onClick="">Submit your code</button><br>
                <button class="btn btn-primary" id="exitTest4" type="reset">Return to the room</button>
            </div>
            <div class="container-question-right">
                <textarea class="enterCode" id="enteredCode4" name="enteredCode4" rows="10" cols="60"></textarea>
            </div>
        </form>
        <div id="results4"></div> 
    </div>
</div>

<!------------------Question 5 Block --------------------------->    
<div class="questionWrapper">
    <div id="questionBox5" class="question-container" >
        <form id="question5" class="question" method = "post" >
            <div class="container-question-left">
                <h3 class="object-action-title">Object Action</h3>
                <p>This just might be the way out! The numbers 3, 5, and 7 seem to be a short number sequence for the 
                    keypad but who knows, maybe they will unlock the door. You carefully input the numbers and hit enter …
                    <br><br>To see if you can escape the room, create a recursion function that returns the factorial of a 
                    given number.</p>
            </div>
            <div class="container-question-center">
                <button class="btn btn-primary" id="submitCode5" type="button" onClick="">Submit your code</button><br>
                <button class="btn btn-primary" id="exitTest5" type="reset">Return to the room</button>
            </div>
            <div class="container-question-right">
                <textarea class="enterCode" id="enteredCode5" name="enteredCode5" rows="10" cols="60">
function factorial(num) {
    return 0;//Fix this!
}</textarea>
            </div>
        </form>
        <div id="results5"></div> 
    </div>
</div>

<!------------------   Finished Level --------------------------->
<div id = "finishedLevel" class="question-container" >
    <img src="/img/exit-image.png" alt="Exit from game"><br>
    <form action="/">
        <p>… the doors slide open and you quickly step through the doorway before the doors change their mind.</p>
        <p class="congrat-text">CONGRATULATIONS YOU PASSED LEVEL 1<br></p> 
        <button class="btn btn-primary" type="submit">Return to home page</button>
    </form>
</div>  

<!------------------    Start game   --------------------------->    
    <div id = "threejs" class="game-stage-container">
        
        <canvas id="c" width="800" height="400"></canvas>
        
    </div>

<%- include('partials/footer') %>