<%- include('partials/header') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module" src="js/game.js"></script>

<!------------------Question 1 Block --------------------------->
<div class="questionWrapper">
    <div id="questionBox1" class="question-container" >
        <form id="question1" class="question" method = "post" >
            <div class="container-question-left">
                <h3 class="object-action-title">Object Action</h3>
                <p>You peer into the cardboard box and find that it holds the first object that you will need to escape the room.
                    <br><br>To remove the object from the box you’ll need to write a function called ‘addNumbers’ that accepts 
                    two parameters and returns their sum.</p>
            </div>
            <div class="container-question-center">
                <button class="btn btn-primary" id="submitCode1" type="button" onClick="">Submit your code</button><br>
                <button class="btn btn-primary" id="exitTest1" type="reset">Return to the room</button>
            </div>
            <div class="container-question-right">
                <textarea class="enterCode" id="enteredCode1" name="enteredCode1" rows="10" cols="60">
function addNumbers(a, b) {
    return 0; //Fix this!
}
                </textarea>
            </div>
        </form>
        <div id="results1"></div> 
    </div>
</div>

<!------------------Question 2 Block ---------------------------> 
<div class="questionWrapper">
    <div id="questionBox2" class="question-container" >
        <form id="question2" class="question" method = "post" >
            <div class="container-question-left">
                <h3 class="object-action-title">Object Action</h3>
                <p>The key slides effortlessly into the door lock of the vehicle. You hold your breath, turn the key and ...
                    <br><br>To unlock the door and find the next clue you will need to write a for loop that 
                    iterates the variable ‘count’ from 1 to 100.</p>
            </div>
            <div class="container-question-center">
                <button class="btn btn-primary" id="submitCode2" type="button" onClick="">Submit your code</button><br>
                <button class="btn btn-primary" id="exitTest2" type="reset">Return to the room</button>
            </div>
            <div class="container-question-right">
                <textarea class="enterCode" id="enteredCode2" name="enteredCode2" rows="10" cols="60"></textarea>
            </div>
        </form>
        <div id="results2"></div> 
    </div>
</div>

<!------------------Question 3 Block --------------------------->    
<div id = "questionBox3" class="question-container" >
    <form id = "question2" method = "post" >

        Create a conditional if statement that returns true if the value is greater then or equal to
        50, or it returns false : <br>
        <textarea id="enteredCode3" name="enteredCode3" rows="10" cols="60">
function conditionalIf(value) {
    return 0;//Fix this!
}
        </textarea>
        <br>
        <button id="submitCode3" type="button" onClick="">Submit</button>
        <button id = "exitTest3" type = "reset">Exit</button>    
    </form>
    <div id="results3">

    </div>
    
</div>   
<!------------------Question 4 Block --------------------------->    
<div id = "questionBox4" class="question-container" >
    <form id = "question4" method = "post" >

        Create an Array named 'array' and fill it with the values 10, 20, 30 ,40 in that order: <br>
        <textarea id="enteredCode4" name="enteredCode4" rows="10" cols="60">
        </textarea>
        <br>
        <button id="submitCode4" type="button" onClick="">Submit</button>
        <button id = "exitTest4" type = "reset">Exit</button>    
    </form>
    <div id="results4">

    </div>
    
</div>   
<!------------------Question 5 Block --------------------------->    
<div id = "questionBox5" class="question-container" >
    <form id = "question5" method = "post" >

        Create an recursion function that returns the factorial of a given number: <br>
        <textarea id="enteredCode5" name="enteredCode5" rows="10" cols="60">
function factorial(num) {
    return 0;//Fix this!
}
        </textarea>
        <br>
        <button id="submitCode5" type="button" onClick="">Submit</button>
        <button id = "exitTest5" type = "reset">Exit</button>    
    </form>
    <div id="results5">

    </div>
    
</div>   

<!------------------   Finished Level --------------------------->
<div id = "finishedLevel" class="question-container" >
    <form action="/">
        CONGRATULATIONS YOU PASSED LEVEL 1 <br>
        <br>
        
        <button type="submit" >Main Menu</button>
        </form>
    
</div>  

<!------------------    Start game   --------------------------->    
    
    <div id = "threejs" class="game-stage-container">
        
        <canvas id="c" width="800" height="400"></canvas>
        
    </div>

<%- include('partials/footer') %>