@import "https://fonts.googleapis.com/css?family=Barlow&display=swap";
@import "https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bitter&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bitter&family=Roboto:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Roboto:wght@300;500&display=swap";
@import "https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap";

/* === NAVIGATION ELEMENTS === */

nav {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-top: 23px;
}

#header-nav {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-top: 23px;
    animation: slide_down 0.4s ease-in;
}

nav a {
    padding-left: 60px;
 }

nav a:hover {
    color: #ffd31d;
    text-decoration: none;
}

nav .current {
    color: #fff;
}

/* === HEADER & FOOTER ELEMENTS === */

.index-header-block {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400%, 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

.header-block {
    width: 100%;
    height: 70px;
    background-color: #23a6d5;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    max-width: 1324px;
    margin-left: 50%;
    margin-right: 50%;
}

.header-container-left, .footer-container-left {
    width: 100%;
    min-width: 662px;
    max-width: 662px;
    padding-left: 92px;
}

.header-container-right, .footer-container-right {
    width: 100%;
    text-align: right;
    justify-content: center;
    padding-right: 92px;
    min-width: 662px;
    max-width: 662px;
}

.footer-block {
    background-color: #101010;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    height: 340px;
    max-width: 1324px;
    margin-left: 50%;
    margin-right: 50%;
}

.team-name {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    padding-top: 16px;
    animation: slide_down 0.4s ease-in;
}

.team-name-static {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    padding-top: 16px;
}

.page-title {
    font-family: 'Bitter', serif;
    font-size: 42px;
    padding-top: 18%;
    animation: title_slide_up 0.4s ease-in;
}

.page-title-sub {
    font-family: 'Bitter', serif;
    font-size: 24px;
    margin-top: -14px;
    animation: title_slide_up 0.4s ease-in;
}

.page-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding-top: 18px;
    line-height: 1.8;
    animation: page_text_slide_up 0.4s ease-in;
}

/* === ABOUT US ELEMENTS === */

.bio-header-block {
    width: 100%;
    height: 425vh;
    justify-content: space-evenly;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400%, 400%;
    animation: change 10s ease-in-out infinite;
}

.bio-title-container {
    text-align: center;
    justify-content: center;
}

.bio-title {
    font-family: 'Bitter', serif;
    font-size: 42px;
    padding-top: 5%;
    padding-bottom: 10%;
    animation: title_slide_up 0.4s ease-in;
}

.bio-title-sub {
    font-family: 'Bitter', serif;
    font-size: 24px;
    margin-top: -14px;
    animation: title_slide_up 0.4s ease-in;
}

.bio-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    padding-top: 30px;
    padding-left: 18px;
    padding-right: 10px;
    line-height: 1.8;
    animation: page_text_slide_up 0.4s ease-in;
}

.bio-img-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 400px 200px 400px;
}

.bio-img-container-site {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 200px 0px 200px;
}

img.rounded-corners {
    animation: page_text_slide_up 0.4s ease-in;
    border-radius: 30px;
    border: 2px solid#000;
}

.site-description-container {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    padding-left: 500px;
    padding-right: 500px;
    line-height: 1.8;
    animation: page_text_slide_up 0.4s ease-in;
}

.button {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
    animation: change 10s ease-in-out infinite;
    color: black; 
    border: 2px solid #008CBA;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color: #008CBA;
    color: white;
  }

/* === END OF ABOUT US ELEMENTS === */

.main-block {
    background-color: green;
}

.team-logo, .csumb-logo {
    padding-top: 48px;
}

.footer-title-text {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: #999999;
    padding-top: 8px;
}

.footer-title-subtext {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}

.game-select-container {
    margin-top: 15%;
    width: 100%;
    text-align: center;
}

.game-select {
    background-color: #fff;
    width: 390px;
    height: 545px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.25);
    animation: slide_down 0.4s ease-in;
}

 #game-select-title {
     font-family: 'Barlow Condensed', sans-serif;
     color: #101010;
     padding-top: 32px;
 }

 #game-select-title-subtext {
     font-size: 12px;
     color: #101010;
     margin-top: 15px;
     margin-bottom: 15px;
 }

 #formLabel {
    font-size: 12px;
    color: #101010;
    text-align: left;
    margin-bottom: 3px;
 }

 .form-group {
     text-align: left;
 }

 .form-control {
     margin-bottom: 8px;
 }

 .custom-select {
     margin-bottom: 18px;
 }

 #submit-btn-game {
     width: 100%;
     height: 42px;
 }

 .game-stage-container {
    height: 69vh;
    display: flex;
    width: 100%;
    background: #697580;
    color: #fff;
    text-align: center;
    padding-top: 11px;
 }

 .game-stage {
     width: 100%;
     min-width: 1324px;
     max-width: 1324px;
     padding-left: 0px;
     background-color: #fff;
 }

/* === ANIMATION ELEMENTS === */

 @keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
 }

 @keyframes slide_down {
     0% {
         transform: translateY(-45px);
     }
     100% {
        transform: translateY(0px);
    }
 }

 @keyframes title_slide_up {
    0% {
        transform: translateY(150px);
    }
    100% {
       transform: translateY(0px);
   }
 }

 @keyframes page_text_slide_up {
    0% {
        transform: translateY(350px);
    }
    100% {
       transform: translateY(0px);
   }
 }

 #nav-bar {
     color: #fff;
 }

 /* div.questionBox {
    color: #ffffff;
    opacity:    0.5; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.questionWrapper {
    width: 1140px;
    margin: 0 auto;
}

  .question {
    color: #fff;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-top: 18px;
    line-height: 1.8;
    width: 1140px;
    height: 500px;
  }
  .question-container{
    height: 69vh;
    background: #697580;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    /* text-align: center; */
    text-align: center;
  }

  .buttonCenter{
    padding-left: 50%;
    padding-right: 40%;
  }


  /* .container-question {
      display: flex;
      flex-direction: row;
      background-color: orange;
  } */

  .container-question-left {
      padding: 25px;
      /* background-color: blue; */
      background-color: #fff;
      color: #5e5e61;
      width: 452px;
      border-radius: 15px;
      box-shadow: 0 10px 20px 0px rgba(0,0,0,0.25);
  }

  .container-question-center {
    width: 340;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

  .container-question-right {
    width: 453px;
}

#enteredCode1, #enteredCode2, #enteredCode3, #enteredCode4, #enteredCode5 {
    display: flex;
    resize: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.25);
    border-color: #fff;
    width: 453px;
    height: 482px;
}

.enterCode {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    padding: 25px;
    width: 340px;
}

#submitCode1, #submitCode2, #submitCode3, #submitCode4, #submitCode5 {
    margin-top: 211px;
    width: 175px;
}

#exitTest1, #exitTest2, #exitTest3, #exitTest4, #exitTest5 {
    width: 175px;
    margin-top: 20px;
}

html {
    background-color: #697580;
}

#results1, #results2, #results3, #results4, #results5 {
    margin-top: 20px;
}

.object-action-title {
    font-family: 'Barlow Condensed', sans-serif;
    color: #23a6d5;
}

.blueText {
    color: #23a6d5;
    font-weight: 400;
}

.congrat-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 36px;
}

.lang-logo {
    padding-top: 125px;
    animation: page_text_slide_up 0.4s ease-in;
}