<%- include('partials/header') %>

    <div class="game-stage-container">
        
        <script type="module" src="js/game.js"></script>
        <canvas id="c" width="800" height="400"></canvas>
        
    </div>

<%- include('partials/footer') %>