    <div class="footer-block">
        <div class="footer-container">
            <div class="footer-container-left">
                <img class="team-logo" src="/img/northtech-logo.png" alt="Northwestern Technology logo"><br>
                <p class="footer-title-text">NORTHWESTERN TECHNOLOGY</p>
                <p class="footer-title-subtext">An Arizona &#183; California &#183; Idaho joint venture<br>Established in 2018</p>
            </div>
            <div class="footer-container-right">
                <img class="csumb-logo" src="/img/csumb-logo.png" alt="CSUMB logo"><br>
                <p class="footer-title-text">CST499 CAPSTONE PROJECT</p>
                <p class="footer-title-subtext">&copy; 2020 Bentley &#183; Calvert &#183; Pearce &#183; Sheridan<br>Cal State University, 
                    Monterey Bay<br>This webpage is for academic purposes only.</p>
            </div>
        </div>
    </div>
</body>
</html>